body {
  font-family: sans-serif;
  line-height: 1.5;
}

nav {
  background-color: #ddd;
  position: sticky;
  top: 50px;
}

a,
a:link {
  color: #222;
  padding: 4px;
}

a:visited {
  color: #888;
}

a:hover {
  color: #fff;
  background-color: #222;
}

a:active {
  background-color: rgb(235,77,77);
}
