/* 01-layout-a.css */

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "nav    main"
    "footer footer";
  grid-gap: 18px;

  max-width: 960px;
  margin: 100px auto 0 auto;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 0;
}

header {
  grid-area: header;
  padding: 18px;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  padding-left: 18px;
}

footer p {
  margin: 0;
}

header,
nav,
footer {
  background-color: #eee;
}

section {
  background-color: #ddd;
  padding: 18px;
}
