table {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-collapse: collapse;
}

th,
td {
  border-top: 1px dotted #000;
  border-left: 1px dotted #000;
  padding: 4px;
}

th {
  text-align: left;
}

.no {
  text-align: right;
}
